@model RentalViewModel

@{
    ViewData["Title"] = "Rental Details";
}

<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between w-100 p-5 mb-10">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold text-success">
                <!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
                <span class="svg-icon svg-icon-2 svg-icon-primary">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" d="M20 15H4C2.9 15 2 14.1 2 13V7C2 6.4 2.4 6 3 6H21C21.6 6 22 6.4 22 7V13C22 14.1 21.1 15 20 15ZM13 12H11C10.5 12 10 12.4 10 13V16C10 16.5 10.4 17 11 17H13C13.6 17 14 16.6 14 16V13C14 12.4 13.6 12 13 12Z" fill="currentColor" />
                        <path d="M14 6V5H10V6H8V5C8 3.9 8.9 3 10 3H14C15.1 3 16 3.9 16 5V6H14ZM20 15H14V16C14 16.6 13.5 17 13 17H11C10.5 17 10 16.6 10 16V15H4C3.6 15 3.3 14.9 3 14.7V18C3 19.1 3.9 20 5 20H19C20.1 20 21 19.1 21 18V14.7C20.7 14.9 20.4 15 20 15Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
            </div>
        </div>
        <!--begin::Content-->
        <div class="d-flex flex-column pe-0 pe-sm-10">
            <h5 class="mb-1">Rental Details</h5>
        </div>
        <!--end::Content-->
    </div>
    @if (Model.CreatedOn.Date == DateTime.Today)
    {
        <div>
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id">
                <i class="bi bi-plus-square-dotted"></i>
                Edit
            </a>
        </div>
    }
    else if(Model.RentalCopies.Any(c => !c.ReturnDate.HasValue))
    {
        <div>
            <a class="btn btn-sm btn-primary" asp-action="Return" asp-route-id="@Model.Id">
                <i class="bi bi-plus-square-dotted"></i>
                Return
            </a>
        </div>
    }
</div>

<div class="card pt-4 mb-6 mb-xl-9">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold fs-3 mb-1">Books</span>
        </h3>
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0 pb-5">
        <div class="table-responsive">
            <!--begin::Table-->
            <table class="table align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <thead>
                    <tr class="fw-bold text-muted bg-light">
                        <th class="ps-4 min-w-125px rounded-start">Book</th>
                        <th class="min-w-125px">Start Date</th>
                        <th class="min-w-125px">End Date</th>
                        <th class="min-w-150px">Total Delay (Days)</th>
                        <th class="min-w-150px">Return Date</th>
                        <th class="pe-4 min-w-150px text-end rounded-end">Extend Date</th>
                    </tr>
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody>
                    @foreach (var copy in Model.RentalCopies)
                    {
                        <tr>
                            <td>
                                <div class="d-flex align-items-center ps-3">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-40px me-5">
                                        <img src="@copy.BookCopy?.BookThumbnailUrl" class="h-50 align-self-center" alt="@copy.BookCopy?.BookTitle">
                                    </div>
                                    <!--end::Symbol-->
                                    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                        <!--begin:Author-->
                                        <div class="flex-grow-1 me-2">
                                            <h4 class="text-gray-800 text-hover-primary fs-6 fw-bold">@copy.BookCopy?.BookTitle</h4>
                                            <span class="text-muted fw-semibold d-block fs-7">Edition# @copy.BookCopy?.EditionNumber</span>
                                        </div>
                                        <!--end:Author-->
                                    </div>
                                    <!--end::Section-->
                                </div>
                            </td>
                            <td>
                                @copy.RentalDate.ToString("d MMM, yyyy")
                            </td>
                            <td>
                                @copy.EndDate.ToString("d MMM, yyyy")
                            </td>
                            <td class="@(copy.DelayInDays > 0 ? "text-danger" : string.Empty)">
                                @copy.DelayInDays Day(s)
                            </td>
                            <td class="pe-4">
                                @copy.ReturnDate?.ToString("d MMM, yyyy")
                            </td>
                            <td class="text-end pe-4">
                                @copy.ExtendedOn?.ToString("d MMM, yyyy")
                            </td>
                        </tr>
                    }
                </tbody>
                <!--end::Table body-->
            </table>
            <!--end::Table-->
        </div>
    </div>
    <!--end::Card body-->
</div>